.followedCompany{
    border-radius: 30px;
    border-style: solid;
    padding:10px;
    margin-bottom: 30px;
}

.followed-by-list{
    display: flex;
    flex-direction: column;
    
}

.company-followed-by-img img{
    height: 80px;
    width: 80px;
    border: 1px solid rgba(192,192,192,0.3);
    border-radius: 50px;
}


.information-company-followed-by{
    display: flex;

}