.defaultheader{
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content:center;   
    background-color: #0271BB;  
    height: 80px;
}
.defaultheader #logo{
    position: absolute;
    top: 5px;
    left: 20px;
}
.defaultheader #logo:hover{
  background-color: #0271AA;
  border: 1px solid white;   

}
.defaultheader .sign-in-field{
    position: absolute;
    top: 20px;
    right: 20px;

}