@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

#sign-in-title{
    font-size: small;
    color:black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    margin: 7px;
}

.sign-in-button{
    border-radius: 5px;
    border-color: grey;
    border:solid 0.5px;
    width: 65px;
    height:35px;
    display: flex;
    align-items: center;
}

.pointer{
    cursor: pointer;
}

.sign-in-field{
    width: 130px;
    display:flex;
    justify-content: space-evenly;
}

.profile-pic{
    height:50px
}