@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.header{
    background-color: #0271BB;
    height: 230px;
    padding-left: 30px;
    padding-top: 25px;
}


.header .logo h2 {
    margin-bottom:0px;
    color:white;
    font-family: 'Open Sans', sans-serif;
}

.header .logo p {
    margin-top:0px;
    font-size: small;
    color:white;
    font-family: 'Open Sans', sans-serif;
}

.menu-choice{
    display: flex;
    justify-content: space-evenly;
    padding: 100px;
    align-items: center;
}

.menu-choice h2 {
    color:white;
    font-family: 'Open Sans', sans-serif;
    font-size: large;
}
.menu-item img {
    width: 230px;
    
}

.divider{
    margin: 30px;
}

@media screen and (min-width: 992px){
    .menu-item img {
        width: 300px;
        
    }
    .menu-choice{
        height: 200px;
    }
    
}
@media screen and (max-width: 992px) {
  .menu-choice{
   flex-wrap: wrap;
   padding-bottom: 20px;
   
}
.menu-choice .menu-item{
    padding-bottom: 20px;
    
 }

}