.individual-page-header {
    padding-left: 30px;
    padding-top: 25px;
    display: flex;
    justify-content:space-between;
}

.individual-page-header .signin-field-div {
    margin-right: 60px;
}

.individual-page-body {
    background-color: whitesmoke;
    height: 100vh;
}

.individual-page-searchfield {
    padding: 40px;
    display: flex;
    justify-content: space-evenly;
    margin: 100px;
    flex-wrap: wrap;
}

.company-search-individual {
    width: 60%;
}

.donation-selection {}

.company-dropdown-individual {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: 70px;
    padding-left: 10px;
}

.dropdown-group-individual {
    display: flex;
}

.search{
    font-family: 'Open Sans', sans-serif;
    width: 60px;
    height: 30px;
    border-radius: 10px;
    background-color: #0271BB;
    color: white;
    font-size: 15px;
    border: none;
    margin-top: 10px;
    margin-bottom: 20px;
  }

@media screen and (max-width: 790px) {
    .dropdown-group-individual {
        flex-direction: column-reverse;
    }
    .company-search-individual {
        width: 100%;
    }
}