@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


.registerButton{
    padding: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: right;
    object-position: default;
}




.h1{
    font-family: 'Open Sans', sans-serif;
    margin: auto;

}


.textarea{
    margin-bottom: 20px;
}

.inputField {
    display:flex;
    flex-wrap: wrap;
    font-family: 'Open Sans', sans-serif,;
    justify-content: space-evenly;
    align-items: center;
    border: solid 2px #0271BB;
    background-color: whitesmoke;
    width:400px;
    padding:20px;
    padding-bottom: 40px;
    margin: auto;
    border-radius: 15px;
    margin-top: 40px;
}
@media screen and (max-width: 992px) {
    .inputField{
     flex-wrap: wrap;
     padding-bottom: 20px;
     
  }
}